nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.website title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-color{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 15px;

}
.banner{
    padding: 30px 30px 0px 151px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner .profile-pic{
    height: 300px;
    width: 425px;
   
}
.banner-gratting{
    font-size: 28px;
    color: #474747;
    margin-bottom: 0;
}
.name{
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.about{
    /* padding: 130px; */
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 60px;
}
.section-title{
    margin: 40px;
    color: #201c1c;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 16px;
}
main{
    max-width: 1140px;
    margin: 50px 320px;
}
.about-info-controls{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    
}
.info-title{
    margin-bottom: 0px;
    text-justify: auto;
}
.info-descripton{
    margin-top: 5px;
}
#s-description{
    margin-top: 20px;
    text-align: center;
    text-size-adjust: 10px;
}
.images{
    width: 30px;
    height: 30px;
}
.skills-section{
    display: flex;
    gap: 15px;
}
.skill{
    padding: 15px;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 0px 4px 5px 0px #2e2c2c;
}
.skill-description{
    color: #a5a3a2;
}
main section{
    margin-top: 40px;
}
/* resume section */

.resume-colum-title{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 40px;
    /* justify-content: space-around; */
}
.resume-item-title{
    color: #474747;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute, .resume-item-description{
    font-size: 14px;
    color: #474747;
}

.resume-item-institute{
   /* margin-bottom: 20px; */
   margin-top: 0px;
}
.resume-item-description{
    font-size: 13px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;

}
footer{
    display: flex;
    gap: 100px;
    text-align: center;
    margin-top: 0px;
    background: #ddc8ba;
    padding: 30px 180px;
}
.social-link a{
    margin-right: 20px;
}
.footer-colum{
    width: 50%;
}
.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #757575;
    background: #FFF;
    border: 0;
    width: 100%;
}
.submit{
    text-align: left;
}